#comments-container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }
  #comments-container .above-line #c-header {
    display: inline-block; }
  #comments-container .above-line #c-submission {
    display: inline-block; }
  #comments-container .comment {
    float: right; }
    #comments-container .comment .c-voting {
      width: 9%;
      vertical-align: top; }
    #comments-container .comment .comment-data {
      width: 90%;
      display: inline-block; }
      #comments-container .comment .comment-data .c-info * {
        margin: 0;
        display: inline-block; }
  #comments-container .reply {
    width: 95%; }
  #comments-container .rreply {
    width: 90%; }
