
#comments-container {
    height: 750px;

    width: 58%;

    margin-left: auto;
    margin-right: auto;

    #c-header {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #c-submission {
        //    display: inline-block;
    }


    .comment {
        float: right;

        .c-voting {
            width: 9%;
            vertical-align: top;
        }

        .comment-data {
            width: 90%;
            display: inline-block;

            .c-info {
                * {
                    margin: 0;
                    display: inline-block;
                }
            }
        }
    }

    .reply {
        width: 95%;
    }

    .rreply {
        width: 90%;
    }
}
