
#topic-grid {
    max-width: 750px;

    margin-left: auto;
    margin-right: auto;

    #topic-square-container {
        display: table;

        .topic-square {
            display: inline-block;

            width: 100px;
            height: 100px;

            margin: 5px;

            overflow: hidden;

            &:hover {
                .topic-description {
                    position: relative;
                        top: -116px;
                        right: 0;
                }
            }

            .topic-img {
                #pres {
                    width: 100px;
                    height: 100px;
                }
            }

            .topic-description {
                position: relative;
                    top: 0px;
                    right: 0;

                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                    transition: all 1s;

                a {
                    text-decoration: none;
                }

                div {
                    width: 100px;
                    height: 100px;

                    .topic-title {
                        color: #FFFFFF;

                        position:relative;
                            top: 10px;
                    }

                    .topic-desc {
                        overflow-x: hidden;

                        color: #FFFFFF;

                        .to-favorite {

                        }

                        .to-share {

                        }
                    }
                }
            }
        }
    }
}
