
.user-info {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .profile-pic {
        position:absolute;

        clip: rect(0px, 60px, 250px, 250px)
    }

    .name {
        display: inline;
    }

    .rightofimage {
        .underline {
            width: 100%;

            .socialmedia {
                width: 100%;

                .s-link {
                    float: right;

                    .s-icon {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .user-description {

    }

    .user-codetalks {
        .ct-aboveline {


        }
    }
}

h3 {
    display: inline-block;
}

.caret {
    float: right;
}
