.user-info {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }
  .user-info .profile-pic {
    position: absolute;
    clip: rect(0px, 60px, 250px, 250px); }

.content {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }
