
.user-info {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .roi-belowline {
        overflow: hidden;

        .info {
            display: inline-block;
        }

        .socialmedia {
            display: inline-block;
            float: right;
        }
    }
}

.content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    .user-description {}


}

h3 {
    display: inline-block;
}

.caret {
    float: right;

    
}

.belowline-container {
    max-width: 750px;
    min-height: 0px;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;

    .belowline {
        position: relative;
            top: 0px;
            right: 0;

        -webkit-transition: all 1s;
        -moz-transition: all 1s;
            transition: all 1s;
    }
}
