.user-info {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }
  .user-info .roi-belowline {
    overflow: hidden; }
    .user-info .roi-belowline .info {
      display: inline-block; }
    .user-info .roi-belowline .socialmedia {
      display: inline-block;
      float: right; }

.content {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }

h3 {
  display: inline-block; }

.caret {
  float: right; }

.belowline-container {
  max-width: 750px;
  min-height: 0px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .belowline-container .belowline {
    position: relative;
    top: 0px;
    right: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }
